# Xcode

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

.build/

# Carthage
Carthage/
Carthage/Build/

#python environment
python-env/

# OS X
.DS_Store

# Python
__pycache__
.pytest_cache
*.pyc

# Node.js
node_modules
Client/Assets/AllFramesAtDocumentStart.js
Client/Assets/AllFramesAtDocumentEnd.js
Client/Assets/MainFrameAtDocumentStart.js
Client/Assets/MainFrameAtDocumentEnd.js
Client/Assets/*.js.LICENSE.txt
